@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$color-main: #252525;
$color-sub: #288787;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
  color: $color-main;
}

.logo {
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $color-sub;
  }
}

.link {
  a {
    text-decoration: none;
    padding: 30px;
    transition: 0.3s;

    &:hover {
      color: $color-sub;
    }
  }
}

#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  align-items: center;

  .social {
    text-align: right;

    img {
      filter: invert(58%) sepia(34%) saturate(5471%) hue-rotate(158deg) brightness(91%) contrast(101%);
      transition: 0.6s;

      &:hover {
        filter: invert(10%) sepia(17%) saturate(19%) hue-rotate(323deg) brightness(96%) contrast(89%);
      }
    }
  }
}
